<div class="row">
    <form action="/reg_numbers" method="POST">

        <div class="header">
            <h1>The RegNumber Display</h1>
        </div>
        <div class="example">
            <p class="eg">e.g. CA 54321 | CY 123-456 | CJ 143812</p>
        </div>
        <div class="main">
            <input name="regInput" class="regString" placeholder="enter registration here">
            <button type="submit" name="addBtn">Add</button>
        </div>
    </form>

    <form action="/reg_numbers" method="GET">
        <div class="dropDown ">
            <select name="filter">
                <option value='all'>All</option>
                <option value='1'>Cape Town</option>
                <option value='2'>Paarl</option>
                <option value='3'>Bellville</option>
            </select>
            <button type="submit">Filter</button>
        </div>


        <div class="regDisplay">
            <ul>
                {{#each regNumb}}
                <li class="regColor">{{this.reg_numb}}</li>
                {{/each}}
            </ul>
        </div>

    </form>


    <form action="/clear" method="GET">

        <div class="clear">
            <button type="submit" name="clearBtn">Clear items</button>
        </div>
    </form>
    <div class="error">
        {{#if messages}}
        {{messages.error}}
        {{/if}}
    </div>
</div>
<script>
    setTimeout(function () {
        document.querySelector(".error").innerHTML = ""
    }, 2000)
</script>