@media only screen and (min-width: 200px) {
	body {
		font-family: 'Press Start 2P', cursive;
		background-color: black;
		color: #0dff00;
	}
	.container{
		text-align: center;
	}
	.topnav {
		overflow: hidden;
		background-color: #333;
	}
	.topnav a {
		float: left;
		color: #f2f2f2;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		font-size: 17px;
	}
	.topnav a:hover {
		background-color: #ddd;
		color: black;
	}
	.topnav a.active {
		background-color: #0dff00;
		color: white;
	}
	.header {
		text-align: center;
	}
	.example {
		text-align: center;
		font-family: 'Press Start 2P', cursive;
	}
	.main {
		text-align: center;
	}
	.filter {
		text-align: center;
		margin-top: 2em;
		color: #000000;
		font-family: 'Press Start 2P', cursive;
	}
	.displayReg {
		margin-top: 2em;
		text-align: center;
		padding: 2em;
		font-stretch: expanded;
	}
	.ul {
		display: inline-block;
		list-style: none;
	}
	input {
		text-align: center;
		padding: 10px;
		border-radius: 10px;
		font-size: 15px;
		font-family: 'Press Start 2P', cursive;
	}
	button {
		cursor: default;
		padding: 9px;
		background: #0dff00;
		color: #000;
		border-radius: 12px;
		font-size: 20px;
		font-family: 'Press Start 2P', cursive;
	}
	.the_list {
		text-align: center;
	}
	button:hover, button:focus {
		background-color: #0dff00;
		color: #000;
	}
	h1 {
		color: #0dff00;
		font-family: 'Press Start 2P', cursive;
		font-size: 3em;
		padding-top: 1em;
		font-weight: normal;
		line-height: 48px;
		margin: 0 0 50px;
		text-align: center;
	}
	h2 {
		color: #0dff00;
		font-family: 'Press Start 2P', cursive;
		font-size: 22px;
		font-weight: bold;
		line-height: 32px;
		margin: 0 0 24px;
	}
	p {
		color: #0dff00;
		font-family: 'Press Start 2P', cursive;
		font-size: 25px;
		line-height: 24px;
		margin: 0 0 24px;
	}
	a {
		color: #000000;
		text-decoration: underline;
	}
	a:hover {
		color: #a7e8f8;
		text-decoration: underline;
	}
	.dropDown {
		text-align: center;
		margin: 0.5em;
	}
	.clear {
		padding-top: 2em;
		font-family: 'Press Start 2P', cursive;
		text-align: center;
	}
	li {
		padding: 1em;
		margin: 1em;
		list-style: none;
		color: #0dff00;
	}
	.error {
		color: red;
	}
	.regColor {
		border: solid #0dff00 0.2em;
		padding: 1em;
		margin: 1em;
		border-radius: 1em;
		color: #0dff00;
		display: inline-block;
	}
}